[core]
	excludesfile = <%= ENV['HOME'] %>/.gitignore
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[user]
	name = <%= print("Your Name: "); STDOUT.flush; STDIN.gets.chomp %>
	email = <%= print("Your Email: "); STDOUT.flush; STDIN.gets.chomp %>

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	a = commit --ammend
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	ci = commit
	pick = cherry-pick -s
	sb = status -sb
	log1 = log --pretty=oneline --abbrev-commit
	serve = daemon --reuseaddr --base-path=. --export-all --verbose
	top-commits = shortlog -s -n --no-merges

[github]
	user = <%= print("GitHub Username: "); STDOUT.flush; STDIN.gets.chomp %>
	token = <%= print("GitHub API Token: "); STDOUT.flush; STDIN.gets.chomp %>

[url "git://github.com/"]
	insteadOf = github://

[url "ssh://git@github.com/"]
	pushInsteadOf = github://
